Create database web_student_tracker
GO
use web_student_tracker

CREATE TABLE [dbo].[student](
	id int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	firstName nvarchar(50) NULL,
	lastName nvarchar(50) NULL,
	email nvarchar(100) NULL,
	imageUrl varchar(512) NULL,
)
GO

